<form (submit)="onButtonClick()" [formGroup]="form">
  <h2>Добавить пользователя</h2>
  <p>
    <label for="family">Фамилия</label>
    <input id="family" type="text" [formControlName]="'family'">
  </p>
  <span *ngIf="form.get('family').errors?.lettersOnly">{{ form.get('family').errors.lettersOnly.text }}</span>
  <p>
    <label for="name">Имя</label>
    <input id="name" type="text" [formControlName]="'name'">
  </p>
  <span *ngIf="form.get('name').errors?.lettersOnly">{{ form.get('name').errors.lettersOnly.text }}</span>
  <p>
    <label for="surname">Отчество</label>
    <input id="surname" type="text" [formControlName]="'surname'">
  </p>
  <span *ngIf="form.get('surname').errors?.lettersOnly">{{ form.get('surname').errors.lettersOnly.text }}</span>
  <button [disabled]="!form.valid">{{this._userId ? 'Изменить' : 'Добавить'}}</button>
</form>
